.analitycs {
    display: flex;
    padding: 32px 23px 32px 0;
}

.analitycs_first_section img {
    width: 700px;
    margin-right: 32px;
}

.analitycs_second_section img {
    width: 435px;
    flex-grow: 1;
}

.analitycs_first_section,
.analitycs_second_section {
    position: relative;
}

.analitycs_second_section {
    flex: 1 1 auto;
    display: flex;
}
