.checkbox_password {
    padding-left: 66px;
    font-weight: 400;
    font-size: 14px;
}

.side_bar.log_in_section {
    padding: 180px 50px;
}

.form_checkbox.flex_checkbox {
    display: flex;
    justify-content: space-between;
}