.orders .orders_wrapper {
    display: flex;
    gap: 37px;
    flex-grow: 1;
}

.orders_wrapper .orders_section {
    background: #ffffff;
    padding: 26px;
    border-radius: 10.5px;
    flex-grow: 1;
}

.orders_section .orders_header {
    display: flex;
    justify-content: space-between;
}

.orders_header .title_of_section,
.orders_header .menu_dot {
    position: unset;
}

table.orders_table {
    text-align: left;
    border-collapse: collapse; 
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    color: var(--main-color);
}

table.orders_table td img {
    vertical-align: middle;
    margin-right: 10px;
}

table.orders_table thead {
    border-bottom: thin solid #E5E5E5;
}

table.orders_table tbody tr:nth-child(even) {
    background-color: var(--background-color);    
}

tbody td:first-child {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

tbody td:last-child {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

table.orders_table th,
table.orders_table td {
    padding: 20px;
    font-weight: 400;
}

.desc::after {
    content: '';
    display: inline-block;
    width: 12px;
    height: 7.5px;
    margin-left: 2.5px;
    background: url(../img/arrow.svg);
    background-repeat: no-repeat;
}

.total_order {
    background: #b6b4f6;
    border-radius: 8px;
    width: 65px;
    height: 32px;
    text-align: center;
    padding: 8px;
    color: #3A36DB;
    font-weight: 500;
}

.orders_section .order_header_item {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 35px 0 30px 0;
}

.orders_section .order_header_item img {
    border-radius:15px;
}

.orders_section hr {
    opacity: 0.2;
}

.orders_description .stars {
    margin: 9px 0;
}

.orders_description span {
    font-weight: 500;
    font-size: 17px;
    line-height: 22px;
}

.order_header_item:nth-child(2) {
    padding-right: 55px;
}

.item_background {
    padding: 17px;   
    background: #d0e3fa ;
}










